body {
    background-color:yellowgreen;
  }
  
  h1 {
    color:black;
    text-align: center;
  }
  .main{
    text-align: center;
    color:blue;
  }
  .int{
      color:red;
      font-size: medium;
      font-weight: bolder;
  }
  #dot{
       font-style: italic;
       font-size: 300px;
  }